body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: auto
}

#messages {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #e0e0e0;
  word-wrap: break-word;
}

.message.default {
  background-color: #e0e0e0;
}

.message.admin {
  color: darkred;
}

.message.ChickenMan {
  background-color: #f8d7da;
}

.message.Idiots {
  background-color: #e2a8e2;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  left: 20px;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.secret-button {
  padding: 10px 20px;
  border: none;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 5px;
  cursor: pointer;
}

.secret-button:hover {
  background-color: #f5c6cb;
}

#beastModePanel {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}

#beastModePanel button {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#beastModePanel button:hover {
  background-color: #0056b3;
}
